/* src/sections/Idiomas.css */
.idiomas {
  background-color: #111;
  color: #ddd;
  padding: 4rem 2rem;
}

.container-idiomas {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.titulo-idiomas {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #00ffd0;
}

.lista-idiomas {
  list-style-type: disc;
  font-size: 1rem;
  color: #ccc;
  text-align: left;
  margin: 0 auto;
  padding-left: 1.5rem;
  max-width: 500px;
}

.lista-idiomas li {
  margin-bottom: 0.8rem;
  line-height: 1.6;
}
